body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  scroll-behavior: smooth;
}

.App {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
  width: 100vw;
  transition: 1s;
}

.section {
  scroll-snap-align: start;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  font-size: 2em;
  margin: 0;
}

#embedded-player {
  border-radius: 12px;
}

.section:nth-child(odd) {
  background-color: #525252;
}

.section:nth-child(even) {
  background-color: #1db954;
}
