@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  scroll-behavior: smooth;
}

.App {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
  width: 100vw;
  transition: 1s;
}

.section {
  scroll-snap-align: start;
  background-color: #1db954;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  font-size: 2em;
  margin: 0;
}

.card {
  margin: 2em;
}

.read-the-docs {
  margin-top: 1em;
}

#main-title {
  font-size: 3em;
  color: #1db954;
}

#embedded-player {
  border-radius: 12px;
}

.legend-circle {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 5px;
}
